@model Group5_MusicPlayer.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <audio controls >
            <source src="~/Upload/@Html.DisplayFor(model => model.AudioPath)" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
